<div class="team team-summary">
  {{ if .Params.image }}
  <div class="team-image">
    <img width="360" height="360" alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
  </div>
  {{ end }}
  <div class="team-meta">
    <a class="team-name" rel="noreferrer" href="{{ .Params.name }}"><h2>{{ .Title }}</h2></a>
    <p class="team-description">{{ .Params.Jobtitle }}</p>
    {{ if .Params.Linkedinurl }}
      <a target="_blank" rel="noreferrer" href="{{ .Params.Linkedinurl }}">LinkedIn</a> 
    {{ end }}
  </div>
  <div class="team-content"></div>
</div>