<div class="service service-summary">
  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <p>
      {{ .Content | plainify | htmlUnescape | truncate 120 "…" }}
      <br />
      <span class="blog-meta-text">
        {{ if .Params.AuthorId }}
          {{ $authorId := .Params.AuthorId }}
          {{ $authorDetails := (index .Site.Data.team $authorId) }}
          {{ $author := $authorDetails.name }}
          <span>by {{ $author }},</span>
        {{ end }}
        <span>on {{ time.Format "Jan 2, 2006" .Params.Date }} | {{ .ReadingTime }} min read</span>
    </p>
  </div>
</div>
