/* General styles for the sticky note */
.sticky-note {
    width: 100%;
    height: 100%;
    background-color: $white-offset;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: "Noto Sans", sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sticky-description {
    font-style: italic;
    height: 420px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: flex-start;
}

.sticky-author {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    color: $black;
}

/* Header of the sticky note */
.sticky-header {
    background-color: #f6b60b;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.sticky-title {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

/* Content area of the sticky note */
.sticky-content {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

/* Optional hover effect */
.sticky-note:hover {
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    transition: all 0.5s ease;
}