.sticky-note {
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: "Noto Sans", sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sticky-description {
    font-style: italic;
    height: 520 px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 2rem;
    padding-top: 3rem;
}

.sticky-description::before {
    content: "“";
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 4rem;
    line-height: 1;
    /* soft gray - feel free to change */
    font-family: Georgia, serif;
    /* looks elegant */
    opacity: 0.4;
    pointer-events: none;
}

.sticky-quote-end {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  font-size: 4rem;
  font-family: Georgia, serif;
  opacity: 0.4;
  pointer-events: none;
}

.sticky-author {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    color: $black;
}

.sticky-header {
    background-color: #f6b60b;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.sticky-title {
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.sticky-content {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}