{{ define "body_classes" }}page-default-list{{ end }}

{{ define "main" }}
<script>
  const puzzleURL = 'https://puzzel.org/en/crossword/embed?p=';
  const puzzleIds = [
    '-NH-8n4v3b1OQwMigE3p',
    '-NH4oAK7uzY0jPNK7YDa',
    '-NH4onxJGC6L87o1uoJu',
    '-NH4p6KLIy-pUJIgq9gL',
    '-NH4pGe8ttSMHReqwb5K'
  ]
  function startCrossWord() {
    const crosswordContentDiv = document.getElementById('crossword-content');
    let puzzleId = localStorage.getItem('puzzleId');
    if (!(!!puzzleId)) {
      puzzleId = puzzleIds[Math.floor(Math.random() * puzzleIds.length)];
      localStorage.setItem('puzzleId', puzzleId);
    }

    crosswordContentDiv.innerHTML = `<div><h1></h1><iframe src='${puzzleURL}${puzzleId}'></iframe></div>`;
  }
</script>
<div class="container">
  <div class="row justify-content-start">
    <div class="dodi-crossword-container">
      <div id="crossword-content" class="mt-2 mb-2">
        <h2>Welcome to Infraspec 🧩 crossword challenge!</h2>

        <p>Exercise your 🧠 brain muscles to solve the puzzle and win a cool 👕 T-shirt. If you are stuck somewhere, fret not, help is always given at DevOpsDays to those who ask for it.</p>

        <p>Now be 💪 brave and don't look back.</p>

        <p>Please do not refresh the browser in the middle.</p>

        <div class="d-flex justify-content-center">
          <button onclick="startCrossWord()" class="crossword-button button"><span class="mr-1">🚀</span>start</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
