.page-home {
}

.testimonials {
  text-align: center;
  margin: 16px;

  .testimonial {
    width: 100%;

    .testimonial-heading {
      font-family: Outfit;
      font-size: 1.2rem;
      font-weight: 600;
    }

    .testimonial-body {
      text-align: justify;
    }
  }
}
