<div class="sticky-note">
  <div class="sticky-content">
    <div class="sticky-description"> 
      {{ .description | safeHTML }} 
    </div>
    <hr>
    <div class="sticky-author">
      <br> {{ .author }} - {{ .designation }} at {{ .company}}
      <br>
      <br> <div class="feature-image">
              <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                <img width="100" alt="{{ .company }} logo" 
                src="{{ .image | relURL }}" />
              </a>
           </div>
    </div>
  </div>
</div>